<app-detalle-cliente *ngIf="clientSelected" [client] = "clientSelected"></app-detalle-cliente>

<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button class="btn btn-success btn-rounded" type="button" name="button" [routerLink]="['/clients/form']">Crear Cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="aler alert-info">
      No hay registro en la base de datos
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>Perfil</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>correo</th>
          <th>Fecha Creacion</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let client of clientes">
          <td><img (click)="openModal(client)" *ngIf="client?.photo"
            src="http://localhost:8080/api/uploads/img/{{ client.photo }}"
            alt="" class="img-thumbnail rounded"
            style="cursor: pointer; width:64px; height:64px">
            <img (click)="openModal(client)" *ngIf="!client?.photo"
              src="http://localhost:8080/img/no-user.png"
              alt="Sin Foto" class="img-thumbnail rounded"
              style="cursor: pointer; width:64px;"></td>
          <td>{{client.name}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.email}}</td>
          <td>{{client.createAt}}</td>
          <td>
            <button type="button" name="button" [routerLink]="['/clients/form', client.id]" class="btn btn-warning"> Editar </button>
          </td>
          <td>
            <button type="button" name="button" class="btn btn-danger" (click)='deleteClient(client)'> Eliminar </button>
          </td>
        </tr>
      </tbody>

    </table>

    <paginator-nav *ngIf="paginator" [paginator]="paginator"></paginator-nav>


  </div>
</div>
